html {
  font-size: 17px;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.mw-body h1,
.mw-body-content h1,
.mw-body-content h2,
.vector-sticky-header-context-bar-primary {
  font-family: inherit;
}
